.divContador{
	margin: auto;
	justify-content: center;
	display: flex;
	padding: 10px 15px;
	width: 10%;
	border-radius: 20px;
}

.botonContador{
	background-color: lightgray;
	margin: 0 15px;
	border-radius: 5px;
}